force-app/main/default/flows/New_Hire_Onboarding_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>deptFinance</name>
        <choiceText>Finance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finance</stringValue>
        </value>
    </choices>
    <choices>
        <name>deptHR</name>
        <choiceText>HR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HR</stringValue>
        </value>
    </choices>
    <choices>
        <name>deptIT</name>
        <choiceText>IT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IT</stringValue>
        </value>
    </choices>
    <choices>
        <name>deptMarketing</name>
        <choiceText>Marketing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing</stringValue>
        </value>
    </choices>
    <choices>
        <name>deptSales</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <description>Screen Flow: A 3-step guided wizard for HR to create a new Onboarding Request.</description>
    <environments>Default</environments>
    <interviewLabel>New Hire Onboarding Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Hire Onboarding Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Onboarding_Request</name>
        <label>Create Onboarding Request</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>varNewRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>DepartmentInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value>
                <elementReference>EmployeeNameInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>NotesInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>StartDateInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Onboarding_Request__c</object>
    </recordCreates>
    <screens>
        <name>Step1_Employee_Info</name>
        <label>Step 1: Employee Information</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step2_Schedule</targetReference>
        </connector>
        <fields>
            <name>EmployeeNameInput</name>
            <dataType>String</dataType>
            <fieldText>Employee Full Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DepartmentInput</name>
            <choiceReferences>deptIT</choiceReferences>
            <choiceReferences>deptHR</choiceReferences>
            <choiceReferences>deptFinance</choiceReferences>
            <choiceReferences>deptSales</choiceReferences>
            <choiceReferences>deptMarketing</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Department</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step2_Schedule</name>
        <label>Step 2: Schedule &amp; Assign</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Step3_Confirm</targetReference>
        </connector>
        <fields>
            <name>StartDateInput</name>
            <dataType>Date</dataType>
            <fieldText>Start Date (First Day of Work)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NotesInput</name>
            <fieldText>Additional Notes (Optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step3_Confirm</name>
        <label>Step 3: Confirm &amp; Submit</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Onboarding_Request</targetReference>
        </connector>
        <fields>
            <name>ConfirmationDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please review the details before submitting:&lt;/strong&gt;&lt;/p&gt;
&lt;ul&gt;
  &lt;li&gt;&lt;strong&gt;Employee:&lt;/strong&gt; {!EmployeeNameInput}&lt;/li&gt;
  &lt;li&gt;&lt;strong&gt;Department:&lt;/strong&gt; {!DepartmentInput}&lt;/li&gt;
  &lt;li&gt;&lt;strong&gt;Start Date:&lt;/strong&gt; {!StartDateInput}&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;Clicking &lt;strong&gt;Finish&lt;/strong&gt; will create the Onboarding Request and auto-generate 4 standard tasks.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Request Created!</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;color:green;&quot;&gt;&lt;strong&gt;Onboarding Request created successfully!&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;4 standard onboarding tasks have been automatically created for &lt;strong&gt;{!EmployeeNameInput}&lt;/strong&gt;.&lt;/p&gt;
&lt;p&gt;The HR team will be notified when all tasks are complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Step1_Employee_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varNewRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
