force-app/main/default/flows/Onboarding_Completion_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Chatter_Update</name>
        <label>Post Chatter Update</label>
        <locationX>176</locationX>
        <locationY>490</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Onboarding for {!$Record.Employee_Name__c} ({!$Record.Job_Title__c} — {!$Record.Department__c}) is now COMPLETE! An Employee record has been automatically created. Welcome to the team!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Completion_Email</name>
        <label>Send Completion Email to HR</label>
        <locationX>176</locationX>
        <locationY>370</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Post_Chatter_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>hrUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Onboarding Complete: {!$Record.Employee_Name__c} — {!$Record.Job_Title__c}, {!$Record.Department__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hi {!hrUserName},

Great news! The onboarding for {!$Record.Employee_Name__c} has been completed successfully and an Employee record has been automatically created in Salesforce.

------------------------------------------------------------
EMPLOYEE DETAILS
------------------------------------------------------------
Name             : {!$Record.Employee_Name__c}
Job Title        : {!$Record.Job_Title__c}
Department       : {!$Record.Department__c}
Employment Type  : {!$Record.Employment_Type__c}

------------------------------------------------------------
WORK SETUP
------------------------------------------------------------
Start Date       : {!$Record.Start_Date__c}
Location         : {!$Record.Location__c}
Work Mode        : {!$Record.Work_Mode__c}

------------------------------------------------------------
CONTACT INFORMATION
------------------------------------------------------------
Personal Email   : {!$Record.Personal_Email__c}
Phone            : {!$Record.Phone__c}

------------------------------------------------------------
Onboarding Reference : {!$Record.Name}
Completion           : 100%

Please review the new Employee record in Salesforce and update any additional details as needed.

Welcome {!$Record.Employee_Name__c} to the team!

— Salesforce Onboarding System</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_Assigned_HR</name>
        <label>Has Assigned HR?</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Post_Chatter_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No HR Assigned — Skip Email</defaultConnectorLabel>
        <rules>
            <name>HR_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hrUserEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Completion_Email</targetReference>
            </connector>
            <label>HR Email Found</label>
        </rules>
    </decisions>
    <description>Record-Triggered Flow: Fires when an Onboarding Request Status changes to Completed. Sends a detailed email alert to the Assigned HR user and posts a Chatter message on the record.</description>
    <environments>Default</environments>
    <interviewLabel>Onboarding Completion Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Completion Notification</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assigned_HR_User</name>
        <label>Get Assigned HR User</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Assigned_HR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assigned_HR__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>hrUserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>hrUserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assigned_HR_User</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Onboarding_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>hrUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hrUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
